watch_file *.cabal nix/modules/flake-parts/*.nix
use flake
export PORT=3000
export DB_HOST=localhost
export DB_PORT=5432
export DB_USER=realworld
export DB_PASSWORD=
export DB_DATABASE=realworld_hs
export JWT_SECRET=secret
export DB_POOL_MAX_SIZE=4
export DB_POOL_IDLE_TIMEOUT_SEC=3.0
export ENV_NAME=dev

PATH_add bin